alabaster @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/alabaster-0.7.12/src/dist/alabaster-0.7.12-py2.py3-none-any.whl
attrs @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/attrs-19.3.0/src/dist/attrs-19.3.0-py2.py3-none-any.whl
Babel @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/babel-2.6.0/src/dist/Babel-2.6.0-py2.py3-none-any.whl
backcall @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/backcall-0.1.0/src/dist/backcall-0.1.0-py3-none-any.whl
bleach @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/bleach-3.1.5/src/dist/bleach-3.1.5-py2.py3-none-any.whl
certifi @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/certifi-2020.6.20/src/dist/certifi-2020.6.20-py2.py3-none-any.whl
cffi @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/cffi-1.14.0/src/dist/cffi-1.14.0-cp37-cp37m-cygwin_3_1_7_x86_64.whl
cvxopt @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/cvxopt-1.2.5/src/dist/cvxopt-1.2.5-cp37-cp37m-cygwin_3_1_7_x86_64.whl
cycler @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/cycler-0.10.0.p0/src/dist/cycler-0.10.0-py3-none-any.whl
cypari2 @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/cypari-2.1.1/src/dist/cypari2-2.1.1-cp37-cp37m-cygwin_3_1_7_x86_64.whl
cysignals @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/cysignals-1.10.2/src/dist/cysignals-1.10.2-cp37-cp37m-cygwin_3_1_7_x86_64.whl
Cython @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/cython-0.29.21/src/dist/Cython-0.29.21-cp37-cp37m-cygwin_3_1_7_x86_64.whl
decorator @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/decorator-4.4.0/src/dist/decorator-4.4.0-py2.py3-none-any.whl
defusedxml @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/defusedxml-0.6.0/src/dist/defusedxml-0.6.0-py2.py3-none-any.whl
docutils @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/docutils-0.14/src/dist/docutils-0.14-py3-none-any.whl
entrypoints @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/entrypoints-0.3/src/dist/entrypoints-0.3-py3-none-any.whl
fpylll @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/fpylll-0.5.1dev/src/dist/fpylll-0.5.1.dev0-cp37-cp37m-cygwin_3_1_7_x86_64.whl
gmpy2 @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/gmpy2-2.1.0b5/src/dist/gmpy2-2.1.0b5-cp37-cp37m-cygwin_3_1_7_x86_64.whl
html5lib @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/html5lib-1.0.1/src/dist/html5lib-1.0.1-py2.py3-none-any.whl
imagesize @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/imagesize-1.1.0/src/dist/imagesize-1.1.0-py2.py3-none-any.whl
importlib-metadata @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/importlib_metadata-1.7.0/src/dist/importlib_metadata-1.7.0-py2.py3-none-any.whl
ipykernel @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/ipykernel-5.2.1/src/dist/ipykernel-5.2.1-py3-none-any.whl
ipython @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/ipython-7.13.0/src/dist/ipython-7.13.0-py3-none-any.whl
ipython-genutils @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/ipython_genutils-0.2.0/src/dist/ipython_genutils-0.2.0-py2.py3-none-any.whl
ipywidgets @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/ipywidgets-7.5.1/src/dist/ipywidgets-7.5.1-py2.py3-none-any.whl
itsdangerous @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/itsdangerous-1.1.0/src/dist/itsdangerous-1.1.0-py2.py3-none-any.whl
jedi @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/jedi-0.17.0/src/dist/jedi-0.17.0-py2.py3-none-any.whl
Jinja2 @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/jinja2-2.11.2/src/dist/Jinja2-2.11.2-py2.py3-none-any.whl
jsonschema @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/jsonschema-3.2.0/src/dist/jsonschema-3.2.0-py2.py3-none-any.whl
jupyter-client @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/jupyter_client-6.1.6/src/dist/jupyter_client-6.1.6-py3-none-any.whl
jupyter-core @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/jupyter_core-4.6.3/src/dist/jupyter_core-4.6.3-py2.py3-none-any.whl
kiwisolver @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/kiwisolver-1.0.1/src/dist/kiwisolver-1.0.1-cp37-cp37m-cygwin_3_1_7_x86_64.whl
MarkupSafe @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/markupsafe-1.1.0/src/dist/MarkupSafe-1.1.0-cp37-cp37m-cygwin_3_1_7_x86_64.whl
matplotlib @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/matplotlib-3.3.1/src/dist/matplotlib-3.3.1-cp37-cp37m-cygwin_3_1_7_x86_64.whl
mip==1.13.0
mistune @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/mistune-0.8.4/src/dist/mistune-0.8.4-py2.py3-none-any.whl
mpmath @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/mpmath-1.1.0/src/dist/mpmath-1.1.0-py3-none-any.whl
nbconvert @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/nbconvert-5.6.1/src/dist/nbconvert-5.6.1-py2.py3-none-any.whl
nbformat @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/nbformat-5.0.7/src/dist/nbformat-5.0.7-py3-none-any.whl
networkx @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/networkx-2.4/src/dist/networkx-2.4-py3-none-any.whl
nose @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/nose-1.3.7/src/dist/nose-1.3.7-py3-none-any.whl
notebook @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/notebook-6.1.1/src/dist/notebook-6.1.1-py3-none-any.whl
numpy @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/numpy-1.19.1/src/dist/numpy-1.19.1-cp37-cp37m-cygwin_3_1_7_x86_64.whl
packaging @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/packaging-18.0/src/dist/packaging-18.0-py2.py3-none-any.whl
pandas==1.2.2
pandocfilters @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pandocfilters-1.4.2/src/dist/pandocfilters-1.4.2-py3-none-any.whl
parso @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/parso-0.7.0/src/dist/parso-0.7.0-py2.py3-none-any.whl
path.py @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pathpy-7.1.p0/src/dist/path.py-7.1-py3-none-any.whl
pexpect @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pexpect-4.8.0/src/dist/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pickleshare-0.7.5/src/dist/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pillow-7.2.0/src/dist/Pillow-7.2.0-cp37-cp37m-cygwin_3_1_7_x86_64.whl
pkgconfig @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pkgconfig-1.5.1/src/dist/pkgconfig-1.5.1-py3-none-any.whl
pplpy @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pplpy-0.8.4/src/dist/pplpy-0.8.4-cp37-cp37m-cygwin_3_1_7_x86_64.whl
prometheus-client @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/prometheus_client-0.8.0/src/dist/prometheus_client-0.8.0-py2.py3-none-any.whl
prompt-toolkit @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/prompt_toolkit-3.0.5/src/dist/prompt_toolkit-3.0.5-py3-none-any.whl
psutil @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/psutil-5.2.0.p2/src/dist/psutil-5.2.0-cp37-cp37m-cygwin_3_1_7_x86_64.whl
ptyprocess @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/ptyprocess-0.5.1.p0/src/dist/ptyprocess-0.5.1-py3-none-any.whl
pybind11 @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pybind11-2.5.0/src/dist/pybind11-2.5.0-py2.py3-none-any.whl
pycparser @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pycparser-2.20/src/dist/pycparser-2.20-py2.py3-none-any.whl
PyCygwin @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pycygwin-0.1/src/dist/PyCygwin-0.1-cp37-cp37m-cygwin_3_1_7_x86_64.whl
Pygments @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pygments-2.3.1.p0/src/dist/Pygments-2.3.1-py2.py3-none-any.whl
pyparsing @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pyparsing-2.3.0/src/dist/pyparsing-2.3.0-py2.py3-none-any.whl
pyrsistent @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pyrsistent-0.16.0/src/dist/pyrsistent-0.16.0-cp37-cp37m-cygwin_3_1_7_x86_64.whl
python-dateutil @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/dateutil-2.8.1/src/dist/python_dateutil-2.8.1-py2.py3-none-any.whl
pytz @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pytz-2020.1/src/dist/pytz-2020.1-py3-none-any.whl
pyzmq @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/pyzmq-19.0.2/src/dist/pyzmq-19.0.2-cp37-cp37m-cygwin_3_1_7_x86_64.whl
requests @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/requests-2.13.0/src/dist/requests-2.13.0-py3-none-any.whl
rpy2 @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/rpy2-3.3.5/src/dist/rpy2-3.3.5-cp37-cp37m-cygwin_3_1_7_x86_64.whl
sage==9.2
sage-conf @ file:///opt/sagemath-9.2/build/pkgs/sage_conf/src/dist/sage_conf-9.2-py3-none-any.whl
sagenb-export @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sagenb_export-3.3/src/dist/sagenb_export-3.3-py3-none-any.whl
sagetex @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sagetex-3.5/src/dist/sagetex-3.5-py3-none-any.whl
scandir @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/scandir-1.9.0/src/dist/scandir-1.9.0-cp37-cp37m-cygwin_3_1_7_x86_64.whl
scipy @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/scipy-1.5.2/src/dist/scipy-1.5.2-cp37-cp37m-cygwin_3_1_7_x86_64.whl
Send2Trash @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/send2trash-1.5.0/src/dist/Send2Trash-1.5.0-py3-none-any.whl
setuptools-scm @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/setuptools_scm-4.1.2/src/dist/setuptools_scm-4.1.2-py2.py3-none-any.whl
simplegeneric @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/simplegeneric-0.8.1.p0/src/dist/simplegeneric-0.8.1-py3-none-any.whl
six @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/six-1.15.0/src/dist/six-1.15.0-py2.py3-none-any.whl
snowballstemmer @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/snowballstemmer-1.2.1.p0/src/dist/snowballstemmer-1.2.1-py3-none-any.whl
Sphinx @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sphinx-3.1.2.p0/src/dist/Sphinx-3.1.2-py3-none-any.whl
sphinxcontrib-applehelp @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sphinxcontrib_applehelp-1.0.2/src/dist/sphinxcontrib_applehelp-1.0.2-py2.py3-none-any.whl
sphinxcontrib-devhelp @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sphinxcontrib_devhelp-1.0.2/src/dist/sphinxcontrib_devhelp-1.0.2-py2.py3-none-any.whl
sphinxcontrib-htmlhelp @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sphinxcontrib_htmlhelp-1.0.3/src/dist/sphinxcontrib_htmlhelp-1.0.3-py2.py3-none-any.whl
sphinxcontrib-jsmath @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sphinxcontrib_jsmath-1.0.1/src/dist/sphinxcontrib_jsmath-1.0.1-py2.py3-none-any.whl
sphinxcontrib-qthelp @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sphinxcontrib_qthelp-1.0.3/src/dist/sphinxcontrib_qthelp-1.0.3-py2.py3-none-any.whl
sphinxcontrib-serializinghtml @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sphinxcontrib_serializinghtml-1.1.4/src/dist/sphinxcontrib_serializinghtml-1.1.4-py2.py3-none-any.whl
sphinxcontrib-websupport @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sphinxcontrib_websupport-1.2.1/src/dist/sphinxcontrib_websupport-1.2.1-py2.py3-none-any.whl
sympy @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/sympy-1.6.2/src/dist/sympy-1.6.2-py3-none-any.whl
terminado @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/terminado-0.8.3/src/dist/terminado-0.8.3-py3-none-any.whl
testpath @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/testpath-0.4.4/src/dist/testpath-0.4.4-py3-none-any.whl
tornado @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/tornado-6.0.4/src/dist/tornado-6.0.4-cp37-cp37m-cygwin_3_1_7_x86_64.whl
tqdm==4.56.2
traitlets @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/traitlets-4.3.3/src/dist/traitlets-4.3.3-py2.py3-none-any.whl
tzlocal @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/tzlocal-2.1/src/dist/tzlocal-2.1-py2.py3-none-any.whl
vcversioner @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/vcversioner-2.16.0.0.p0/src/dist/vcversioner-2.16.0.0-py3-none-any.whl
wcwidth @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/wcwidth-0.1.7.p0/src/dist/wcwidth-0.1.7-py2.py3-none-any.whl
webencodings @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/webencodings-0.5.1/src/dist/webencodings-0.5.1-py2.py3-none-any.whl
widgetsnbextension @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/widgetsnbextension-3.5.1/src/dist/widgetsnbextension-3.5.1-py2.py3-none-any.whl
zipp @ file:///opt/sagemath-9.2/local/var/tmp/sage/build/zipp-0.5.2/src/dist/zipp-0.5.2-py2.py3-none-any.whl
